
.heading{
  
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0px 80px 0px 0px;
}

.logo-img{
    height: 100px;
    width: 100px;
}
.nav-items > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 20px 30px 0px 30px
    
}

.nav-items .login-btnName{
    color: blue;
    width:50px;
    height: 40px;
    border-radius: 10px;
}


.search{
    padding: 16px 0;
}

.search input {
    width: 1030px;
    max-width: 4000px;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.body {
    padding: 0 30px 20px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  /*--> this make the RestoCards in center of the RestoCantainer */
    
}


.ResturantCard{

    background-color: #f0f0f0;
    height: 380px;
    width: 190px;
    padding: 5px;
    font-size: 12px;
    margin: 5px;
    
}

.ResturantCard:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-img{
    width:100%;
    height: 170px;
    border-radius: 20px;;
    
}
/* 
.ResturantCard *{
    margin: 5px 0px;
}
 */

/* .filter-btn{
    margin: 2px 10px 10px 10px;
    cursor: pointer;
} */



.Shimmer-container{
   display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    height: 350px;
    width: 190px;
   
}

.inner-shimmer{
    background-color:white;
    
    width: 100%;
    height:150px;
    border-radius: 10px;
    
}

.shimmer-title{
    margin-top: 10px;
    background-color:white;
    
    width: 170px;
    height:12px;
    border-radius: 1px;
}

.shimmer-rating{
    margin-top: 10px;
    background-color:white;
    
    width: 100px;
    height:12px;
    border-radius: 1px;
}
.shimmer-order{
    margin-top: 10px;
    background-color:white;
    
    width: 50px;
    height:12px;
    border-radius: 1px;
}



.filter{
    display: flex;
}

.filter-btn{
    margin: 25px 0px 0px 10px;
    height: 21px;
}